// Place all the styles related to the movies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h1{
  font-size: larger;
  color: #B00100;
}

.row{
  background-color: chocolate;
  //color-profile: fade_in();
}

#sortable{
  color: #B00100;

}
